<app-menu></app-menu>

<router-outlet></router-outlet>




<!-- <div class="text-layout">
  <h1>{{nombre  |titlecase  }}</h1>

</div>
<button pButton type="button " class="p-button-help"  (click)="mostrarNOmbre()" label="Cambiar Nombre" iconPos="right" icon="pi pi-check" ></button>


<p-card subheader="SUBJEDER" [header]="nombre | titlecase">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur voluptatem recusandae in, laboriosam officia quidem saepe tempora accusantium officiis, rerum enim porro, asperiores fugiat animi eum. Quisquam, laboriosam neque.
</p-card> -->
